/* TITULO */
.title {
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
}

/* CARDS */
.card-header,
.card-message,
.card-action,
.card-buttons {
  width: 100%;
  max-width: 500px;
  padding: 1.5rem;
  border-radius: 16px;
  background: var(--color-fondo-card);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  text-align: center;
}

/* BOTÓN PRINCIPAL */
.btn-primary {
  background: #22c55e;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #16a34a;
  transform: translateY(-2px);
}

/* BOTONES SECUNDARIOS */
.card-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn-secondary {
  background: var(--color-btn-secundario);
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  color: var(--color-btn-letra);
  cursor: pointer;
  transition: 0.3s;
}

.btn-secondary:hover {
  background: var(--color-btn-resaltar);
  transform: scale(1.05);
}