<div class="container-main">


  <div class="card-header">
    <h1 class="title">Aplicación de Prueba</h1>
  </div>

  <div class="card-message">
    <p>{{ mensaje() }}</p>
  </div>

 
  <div class="card-action">
    <button (click)="toggleLoggin()" class="btn-primary">
      {{ logged() ? 'Salir' : 'Entrar' }}
    </button>
  </div>

  <div class="card-buttons">
    <button class="btn-secondary" (click)="abrirModal()">Modal</button>
    <button class="btn-secondary" routerLink="/alumnos">Alumnos</button>
    <button class="btn-secondary" (click)="navigateTo()">Dashboard</button>
  </div>

  <app-padre #modalPadre></app-padre>
  

</div>