<div class="card">

    <div class="header">
        <button class="btn-back" (click)="navigateToHome()">
            <i class="pi pi-arrow-left"></i>
        </button>

        <h1 class="title">Alumnos</h1>

        <button class="btn-cargar-alumno" (click)="abrirRegistrar()">
            Cargar Alumnos
        </button>

    </div>

    <p-table [value]="alumnos" showGridlines [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th class="columnas">Nombre</th>
                <th class="columnas">Apellido</th>
                <th class="columnas">DNI</th>
                <th class="columnas">Email</th>
                <th class="columnas">Notas</th>
                <th class="columnas">Modificar</th>
            </tr>
        </ng-template>
        <ng-template #body let-alumno>
            <tr>
                <td class="columnas">{{ alumno.nombre }}</td>
                <td class="columnas">{{ alumno.apellido }}</td>
                <td class="columnas">{{ alumno.dni }}</td>
                <td class="columnas">{{ alumno.email }}</td>
                <td class="columnas">
                    <button class="button" [routerLink]="" [state]="{alumno : alumno}">
                        cargar notas
                    </button>
                </td>
                <td class="columnas">
                    <button class="button" (click)="abrirEditar(alumno)">
                        Editar alumno
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

@if (mostrarFormulario()) {
    <div class="modal-overlay" (click)="cerrarFormulario()">
        <div (click)="$event.stopPropagation()">
            <app-formulario
                [modo]="modo()"
                [alumno]="alumnoSeleccionado()"
                (cerrar)="cerrarFormulario()">
            </app-formulario>
        </div>
    </div>
}