.card {
    background: var(--color-fondo-card);
    padding: 1.5rem;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    margin: 2rem auto;
    max-width: 80%;
    height: 85vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
}

.title {
    font-size: 2.2rem;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
}

.btn-back {
    background: #1e293b;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
}

.btn-back:hover {
    background: #334155;
}

.btn-cargar-alumno {
    background: var(--color-btn-secundario);
    border: none;
    height: 35px;
    width: 100%;
    max-width: 290px;
    padding: 0 1rem;
    border-radius: 10px;
    color: var(--color-btn-letra);
    cursor: pointer;
    transition: 0.2s;
}

.btn-cargar-alumno:hover {
    transform: scale(1.05);
}

.action-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1.5rem;
}

/* .table-container {
    flex: 1;
    overflow: hidden;
    width: 100%;
} */

::ng-deep .tabla-alumnos .p-datatable-thead > tr > th {
    background-color: #1e293b;
    color: white;
    border-color: #334155;
    padding: 0.6rem;
    font-size: 0.85rem;
    text-align: center;
}

::ng-deep .tabla-alumnos .p-datatable-tbody > tr > td {
    background-color: #0f172a;
    color: #e2e8f0;
    border-color: #334155;
    padding: 0.6rem;
    font-size: 0.85rem;
    text-align: center;
}

::ng-deep .tabla-alumnos .p-datatable-wrapper {
    overflow-x: auto !important;
}

::ng-deep .tabla-alumnos table {
    width: 100%;
    border-collapse: collapse;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.btn-cerrar {
    margin-top: 1.5rem;
    background-color: #ef4444;
    border: none;
    width: 100%;
}

.btn-cerrar:hover {
    background-color: #dc2626;
}

@media (max-width: 992px) {
    .card {
        max-width: 95%;
        margin: 1rem auto;
        padding: 1rem;
        height: auto;
    }

    .title {
        font-size: 1.8rem;
    }
}