<div class="card">

    <h2>Detalles del Alumno: <span class="badge rounded-pill text-bg-warning">{{ alumno().apellido }} {{ alumno().nombre
            }}</span></h2>

    <div class="card">
        <div class="row">
            <div class="col text-start">
                <span class="fw-bold">DNI:</span>
                {{ alumno().dni }}
            </div>

            <div class="col text-nowrap">
                <span class="fw-bold">Email:</span>
                {{ alumno().email }}
            </div>
        </div>
    </div>

    <h3 class="text-start mt-4">Materias y calificaciones</h3>

    <p-table [value]="materias()" showGridlines [tableStyle]="{ 'min-width': '100%' }">
        <ng-template #header>
            <tr>
                <th>Materia</th>
                <th>Calificación</th>
                <th>Acción</th>
            </tr>
        </ng-template>

        <ng-template #body let-materia>
            <tr>
                <td>{{ materia.nombreMateria }}</td>
                <td>
                    @if (obtenerNota(materia.id) !== null) {
                        {{ obtenerNota(materia.id) }}
                    } @else {
                        Sin Nota
                    }
                </td>
                <td style="text-align: center;">
                    <button class="button" (click)="cargarNota(materia)">
                        CARGAR NOTA
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <button class="destructive" type="button" (click)="onCerrar()">
        Cerrar
    </button>
</div>

@if (mostrarFormularioNotas() && materiaSeleccionada()) {
<div class="modal-overlay">
    <div (click)="$event.stopPropagation()">
        <app-formulario-notas [alumno]="alumno()" [materia]="materiaSeleccionada()!" (cerrar)="cerrarFormularioNotas()">
        </app-formulario-notas>
    </div>
</div>
}