<footer class="footer">

  <div class="footer-left">
    <div class="system-info">
      <span>Sistema de Gestión Académica</span>
      <small>Angular + Spring Boot</small>
    </div>

    <div class="meta-left">
      <span>v1.0.0</span>
      <span>API: Online</span>
    </div>
  </div>

  <div class="footer-center">
    <span>© 2026 - Proyecto educativo fullstack</span>
  </div>

  <div class="footer-right">

    <div class="collaborators">
      <span>Colaboradores del Proyecto</span>

      <div class="grid">
        <a href="https://github.com/LucasLopez13" target="_blank">Lucas Lopez</a>
        <a href="https://github.com/iopatich" target="_blank">Ignacio Opatich</a>
        <a href="https://github.com/JPaulRamirez" target="_blank">Paul Ramirez</a>
        <a href="https://github.com/kalil87" target="_blank">Kalil Sat</a>
      </div>
    </div>
  </div>

</footer>