.footer {
  padding: 20px 32px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  background-color: #1E1B16;
  border-top: 1px solid #5A4A2A;
  color: #F6F1E7;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.system-info span {
  font-weight: 600;
}

.system-info small {
  color: #5A4A2A;
  display: block;
  font-size: 12px;
}

.meta-left {
  display: flex;
  flex-direction: row;
  gap: 12px;
  font-size: 12px;
  color: #A39C8F;
}

.footer-center {
  text-align: center;
  color: #A39C8F;
  font-size: 13px;
  align-self: center;
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: right;
}

.collaborators {
  grid-template-columns: repeat(2, minmax(5px, 1fr));
  gap: 8px 40px;
  justify-items: start;
}

.collaborators span {
  color: #E0BF66;
  font-size: 13px;
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  align-items: flex-end;
  transform: translateX(-6px);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(5px, 1fr));
  gap: 8px 40px;
  justify-items: start;
}

.grid a {
  color: #F6F1E7;
  text-decoration: none;
  font-size: 13px;
  transition: 0.2s ease;
  white-space: nowrap;
}

.grid a:hover {
  color: #E0BF66;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;
  }

  .meta-left {
    flex-direction: column;
    gap: 4px;
    align-items: center;
  }
  

  .footer-right {
    text-align: center;
    align-items: center;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    width: 100%;
  }
}