<div class="card">

    <div class="header">
        <button class="btn-back" (click)="navigateToHome()">
            <i class="pi pi-arrow-left"></i>
        </button>

        <h1 class="title">Alumnos</h1>

        <button class="btn-cargar-alumno" (click)="abrirFormulario()">
            Cargar Alumnos
        </button>

    </div>

    <p-table [value]="alumnos()" showGridlines [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th>Nombre</th>
                <th>DNI</th>
                <th>Email</th>
                <th>Promedio</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template #body let-alumno>
            <tr>
                <td>{{ alumno.nombre }}</td>
                <td>{{ alumno.dni }}</td>
                <td>{{ alumno.email }}</td>
                <td>
                    Sin promedio
                </td>
                <td>
                    <button class="button" (click)="verDetalleAlumno(alumno)">
                        DETALLES
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

@if (mostrarFormulario()) {
<div class="modal-overlay">
    <div (click)="$event.stopPropagation()">
        <app-formulario (cerrar)="cerrarFormulario()"></app-formulario>
    </div>
</div>
}

@if (mostrarDetalleAlumno() && alumnoDetalle()) {
<div class="modal-overlay">
    <div (click)="$event.stopPropagation()">
        <app-detalle-alumno (cerrar)="cerrarDetalleAlumno()" [alumno]="alumnoDetalle()!"></app-detalle-alumno>
    </div>
</div>
}