<div class="layout-container">
  <div class="card">
    <div class="header">
      <button class="btn-back" (click)="volver()">
        <i class="pi pi-arrow-left"></i> Volver
      </button>
      <h1 class="title">Carga de Calificaciones</h1>
    </div>

    @if (alumno()) {
      <div class="alumno-context-card">
        <p>Registrando notas para el estudiante:</p>
        <h2>{{ alumno().nombre }} {{ alumno().apellido }}</h2>
      </div>

      <div class="table-responsive">
        <table class="custom-table notas-variacion">
          <thead>
            <tr>
              <th>Asignatura</th>
              <th>Historial</th>
              <th class="th-accion">Nueva Calificación</th>
            </tr>
          </thead>
          <tbody>
            @for (materia of materias(); track materia.id) {
              <tr>
                <td><strong class="asignatura-titulo">{{ materia.nombre }}</strong></td>
                <td>
                  <div class="notas-historial-container">
                    @for (nota of obtenerNotasMateria(materia.nombre); track $index) {
                      <span class="historial-badge">{{ nota }}</span>
                    } @empty {
                      <span class="text-muted">Ninguna</span>
                    }
                  </div>
                </td>
                <td>
                  <div class="form-input-grupo">
                    <input #notaInput type="number" min="1" max="10" class="input-nota-custom" placeholder="1-10">
                    <button class="btn-action-guardar" (click)="guardarNota(materia.id, notaInput.value, notaInput)">
                      <i class="pi pi-save"></i> Guardar
                    </button>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
  </div>
</div>
