<div class="layout-container">
  <div class="card">

    <div class="header">
      <button class="btn-back" (click)="volver()">
        <i class="pi pi-arrow-left"></i> Volver
      </button>
      <h1 class="title">Cargar notas</h1>
    </div>

    @if (alumno()) {
    <div class="info-alumno">
      <h2>{{ alumno().nombre }} {{ alumno().apellido }}</h2>
      <div class="info-detalles">
        <p><strong>DNI:</strong> {{ alumno().dni }}</p>
        <p><strong>Email:</strong> {{ alumno().email }}</p>
      </div>
    </div>
    }

    <div class="materias">
      @for (materia of materias(); track materia.id) {
      <div class="materia-card">

        <div class="materia-info">
          <h3>{{ materia.nombre }}</h3>

          <div class="notas-actuales">
            <strong>Notas: </strong>
            @if (obtenerNotasMateria(materia.nombre).length > 0) {
            <span class="notas-lista">{{ obtenerNotasMateria(materia.nombre).join(', ') }}</span>
            } @else {
            <span class="sin-notas">Sin notas registradas</span>
            }
          </div>
        </div>

        <div class="input-grupo">
          <input #notaInput type="number" min="1" max="10" class="input-nota" placeholder="Ej: 8">

          <button class="btn-guardar" (click)="guardarNota(materia.id, notaInput.value, notaInput)">
            Guardar nota
          </button>
        </div>

      </div>
      }
    </div>

  </div>
</div>